body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

#duckPic {
	width: 200px;
	height: 200px;
}

#adamPic {
	width: 500px;
	height: 300px;
}

.profile-heading {
	display: flex;
	justify-content: center;
}

#contact-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#profile-btns {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.fave-btn {
	background-color: yellow;
	height: 30px;
	width: 150px;
	border-radius: 10px;
}

.fave-btn:hover {
	background-color: blue;
	color: white;
	transform: scale(1.25, 1.25);
	box-shadow: 0 0 35px black;
	cursor: pointer;
	transition: .5s;
}